.card{
    margin-top: 20px;
    margin-left: 100px;

}
.parrafo{
    font-size: 10px;
    color: white;
}
.about{
    padding: 50px;
    margin: 0;
}

.texto{
    
    font-family: 'Bebas Neue', sans-serif;
    color: black;
   
}
.t2{
    font-family: 'Bebas Neue', sans-serif;
    
    color: #A9D9C2;

}


.iconos{
    max-width: 90%;
    margin-top: 20px;
    margin-bottom: 0;
}