
.parrafo{
    font-size: 13px;
    color: black;
}
.about{
    padding: 50px;
    margin: 0;
}

.texto{
    
    font-family: 'Bebas Neue', sans-serif;
    color: black;
   
}
.t2{
    font-family: 'Bebas Neue', sans-serif;
    
    color: #A02F0D;

}


.iconos{
    max-width: 90%;
    margin-top: 20px;
    margin-bottom: 0;
}

.about-container{
    max-width: 600px;
    display: flex;
    align-items: center;
}
