.header {
    background-image: url(../../statics/imagenes/gratisography-circuit-chip-02-free-stock-photo.jpg);
    background-position: center center;
    background-size: cover;
    min-height: 100px;
    display: flex;
    justify-content: space-between; /* Alinea los elementos hacia la derecha */
    align-items: center;
    padding: 20px;
   
}
.iconos {
    margin-right: 10px;
    color: white;
}
.tex3{
    font-family: 'Bebas Neue', sans-serif;
    
    color: #230786;
}