


.color-footer,.App{
  background-image: url(./statics/imagenes/gratisography-circuit-chip-02-free-stock-photo.jpg);
  background-position: center center;
  background-size: cover;
  min-height: 100px;
}
.color-body{
  background-image: url(./statics/imagenes/gratisography-stairs-abstract-free-stock-photo.jpg);
  background-position: center center;
  background-size: cover;
  min-height: 100px;
  padding-bottom: 60px;
}
.app-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}
.app-about-carrusel{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

