


.color-footer,.App{
  background-image: url(./statics/imagenes/gratisography-circuit-chip-02-free-stock-photo.jpg);
  background-position: center center;
  background-size: cover;
  min-height: 100px;
}
.color-body{
  background-image: url(./statics/imagenes/gratisography-stairs-abstract-free-stock-photo.jpg);
  background-position: center center;
  background-size: cover;
  min-height: 100px;
}

